body , p{
	font-size: 14px;
}

header {
	background: url(../img/jungle.png) #dff1f9 bottom repeat-x;
}

header .btn small {
	color: #777;
	font-size: 11px;
}

header {
	padding: 70px 0 70px 0;	
}

header h1 {
	font-size: 78px;	
    text-shadow: 0px 2px 0px #FFF;
	letter-spacing: -3px;
	line-height: 1;
	margin-bottom: 2px;
}

#framework-name  {
	margin-top: -3px;
	padding-left: 145px;
}

#framework-name  p {
	font-size: 16px;
	text-transform: uppercase;
	padding-left: 5px;
	font-weight: bold;
	color: #777;
}

#quick-buttons {
	margin-top: 20px;
	margin-bottom: 10px;
}

.page-header h2 {
	text-transform: uppercase;
}

.content-block {
	margin-bottom: 50px;
}

footer p {
	line-height: 18px;
	padding: 8px 0;
}

footer .content-block {
	margin-bottom: 10px;
}

#social {
	text-align: center;
}

#social .button {
	display: inline-block;
}