[submodule "bananas"]
	path = bananas
url=https://github.com/devolonter/flixel-monkey-bananas.git
[submodule "plugin/photonstorm"]
	path = plugin/photonstorm
url=https://github.com/devolonter/monkey-photonstorm.git
[submodule "native/webgl"]
	path = native/webgl
url=https://github.com/devolonter/mojo-html5-gl.git